
html, 
body, 
.container,
ng-view{
	height:100%;
}

body{
	font-family: 'Rosario', sans-serif;
}

.dashboard{
	.cover{
		img{
			position:absolute;
			top:-7px;
			z-index: -1;
		}
		h1{
			margin-left:63px;
			color: rgb(153, 0, 0);
		}
		a{ margin-top: 6px;}
	}

	.jobs{
		th{
			cursor:default;
			&[ng-click]{
				cursor:pointer;	
			}
		}
	}
}

.edit-job{
	height:100%;	
	position:relative;

	textarea{
		height: 100%;
		width:100%;
		font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	}

	.ace_editor{
		height: 100%;

		.ace_content{
			width:100%;
		}
	}

	.job-script-container{
		height: calc(100% - 181px);

		&> div{
			height:100%;
		}
	}

	.job-errors{
		height:100%;
		margin-bottom: 10px;
		overflow:auto;
	}

	.script-actions{
		padding: 10px 0;
	}
	.script-schedule,
	.script-name {
		font-family: 'Rosario', sans-serif;
		width:100%;
		border:none;
		outline: 0;
	}

	.script-name{
		margin-top:40px;
		margin-bottom:10px;
		border:none;
	}

	.script-schedule{
		margin: 0 0 10px;
		font-style:italic;
	}
}
