<h2>Create Job</h2>
<p>
	A job is a scripts which is executed periodically. 
	The script will be executed on Node.js with the native modules along with 
	the Request module available to import.
</p>
<hr>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-lg-2 control-label">Name</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" ng-model="job.name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Schedule</label>
		<div class="col-lg-7">
			<div class="input-group">
				<span class="input-group-addon">Every</span>
				<input type="number" min="0" class="form-control" ng-model="job.interval">
				<span class="input-group-addon">
					<select ng-model="job.intervalType">
						<option value="seconds">seconds</option>
						<option value="minutes">minutes</option>
						<option value="hours">hours</option>
						<option value="days">days</option>
					</select>
					&nbsp;
					with 
					&plusmn;
				</span>
				<input type="number" min="0" class="form-control" ng-model="job.fuzz">
				<span class="input-group-addon">
					<select ng-model="job.fuzzType">
						<option value="seconds">seconds</option>
						<option value="minutes">minutes</option>
						<option value="hours">hours</option>
						<option value="days">days</option>
					</select>
					&nbsp;
					of fuzziness</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-2 control-label">Script</label>
		<div class="col-lg-10">
			<div ui-ace="{mode:'javascript'}" ng-model="job.script"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary" ng-click="createJob()">Create Job</button>
		</div>
	</div>
</form>